
.dialog-container{
    position: relative;
}
div{
    div{

        div{
            display: flex;
            gap: 1.5rem;

        }

    }
}
.full-width{
    width: 100%;
}

mat-progress-bar{
    position: absolute;
    top: -24px;
    left: -24px;
    width: calc(100% + 48px);
    
}
